    <header class="header">
    <div class="nav-bar">
        <div class="cname">
            <a routerLink="" class="logoA">
            <img src="assets/img/logo.png" alt="logo">
            <strong>My Cart</strong>
        </a>
        </div>
    </div>

   <div class="right-navigation">

        <nav>
            <a routerLink="" class="a">Dashboard</a>
            <a routerLink="products" class="a">Products</a>
            <a routerLink="cart" class="a">Cart({{totalItemNumber}})</a>
        </nav>
    </div>

</header>
