.row{
    margin-left: 40px;
    position: relative;
}
.row h5,p{
    color: #414042;
}
.item-data{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    max-width:100ch;
}
.card{
    padding: 20px;
    margin:40px;
}
.card img{
    width: 200px;
    height:200px;
    margin-bottom: 15px;
    transition: 0.3 ease-in-out;
}
.card img:hover{
    transition: 0.3 ease-in-out;
    transform: scale(1.1);
}
.btn-primary{
    background-color:#03353e ;
}

.main-container{
    background-color:   #F3F0E9;
}